@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.header2{
  margin-top: 10px;
  margin-left: 11px;
  font-size: 24px;
  font-weight: bold;
}
.editter{
  margin-left: 30;
  
  }
  .editter1{
    margin-left: 30;
  }
  .editter2{
    margin-top: 16px;
  }


/* about */
.about-image{
  width: 1050px;
  height: 729px;

}

.about-work{
  background-color: rgba(42, 124, 199, 1);
  
}
/* contact */
.contact {
  background-color:white;
  margin-top: 15px;

  width: 1256px;
  height :882px
  
  
  

}
.contact-text{
  margin-top: 10px;
  margin-left: 210px;
  margin-top: 4px;
  height: 54px;
}
.contact-social{
  
  margin-left: 5px;
  margin-top: 20px;
  width: 12px;
  height: 12px;
}
.contact-image{
margin-top: 12px;
max-width: 1440px;
width: 1440px;
height:550px;
margin-right: 200px;


}
.phone{
  width: 72px;
  height: 72px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.map{
  
  width: 72px;
  height: 72px;
  margin-top: 80px;
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.mail{
  width: 72px;
  height: 72px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.get-support{
  width: 103px;
  height: 24px;
  font-weight: bold;
  color:#252B42;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
  
}
.get-support2{
  width: 103px;
  height: 24px;
  font-weight: bold;
  color:#FFFFFF;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;

}
.submit-request{
    border-radius: 60px;
    color:#23A6F0;
    border-color: #23A6F0;
    width: 189px;
    height: 54px;

}
.submit-button{
  width: 121px;
  height: 24px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: right;
}


.last-div1{
  width: 1200px;
   height: 348px;
   
}

.last-div2{
  width: 1050px;
   height: 348px;
}

.last-div3{
  width: 607px;
   height: 193px;
   margin-top: 12px;
}
.last-div4{
  width: 286px;
   height: 193px;
}

.arrow{
 
  transform: -45.56px;
  position: inside;
  fill: #23A6F0;
  font-weight:4px;
  
}
.meet-you{
  letter-spacing:0.1px;
  font-size: 16px;
  line-height: 24px;
 color:#252B42;
}
.talk{
letter-spacing:0.2px;
color:#252B42;
margin-top: 16px;
font-size:58px;
line-height: 80px;
}

.free-now{

  border-color: #23A6F0;
  margin-top: 16px;
  background-color: #23A6F0;
  width: 189px;
  height: 54px;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;

}

.free-text{
  color:white;
  width: 109px;
  height: 22px;
  font-size: 14px;
  letter-spacing:0.2px;
  line-height: 22px;
  @media (max-width: 768px) {
    .hero-section {
      padding: 10px;
    }
  }
  
  @media (min-width: 769px) {
    .hero-section {
      padding: 20px 50px;
    }
  
  }
  
}

/* footer */
.footer-icons{
  width: 1440px;
   height: 142px; 
   
}